.wilderContainer {
  background-color: white;
  width: 200px;
  height: 300px;

  padding: 20px;
  border: 1px solid #c9c9c9;
  border-radius: 7px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);

  & h3 {
    color: #f76c6c;
  }

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
